.cart_cont {}

.cart {
    background-color: white;
    height: 100vh;
    width: 400px;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
}

.hide {
    transform: translateX(400px);
    transition: 0.4s ease-in-out;
}

.show {
    transform: translateX(0);
    transition: 0.4s ease-in-out;
}