.cart {
    background-color: white;
    height: 100vh;
    width: 400px;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
    -webkit-box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
    -moz-box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
    padding: 32px;
}

.hide {
    transform: translateX(400px);
    transition: 0.4s ease-in-out;
}

.show {
    transform: translateX(0);
    transition: 0.4s ease-in-out;
}

.cart_title {
    font-size: 2rem;
    color: #140F0B;
    font-weight: 600;
}

.cart ul {
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    padding-top: 60px;
}

.cart_footer {
    text-align: center;
}

.cart_footer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 24px;
}

.cart_footer_text span {
    font-size: 1.5rem;
}

.cart_footer_text div {
    display: flex;
    gap: 12px;
}

.clear_button {
    padding: 12px 20px;
    background-color: transparent;
    border: 2px solid #E68541;
    cursor: pointer;
}

.buy_button {
    padding: 12px 20px;
    background-color: #E68541;
    border: 2px solid #E68541;
    color: #140F0B;
    font-weight: 600;
    cursor: pointer;
}

.closeCart {
    color: #140F0B;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    position: fixed;
    bottom: 40px;
    right: 56px;
    cursor: pointer;
    font-weight: 600;
}

.closeCart {
    visibility: hidden;
    opacity: 0;
}


@media screen and (max-width: 768px) {
    .cart {
        width: 100%;
        height: 90vh;
        position: fixed;
        left: 0;
        top: 0;
        padding-bottom: 60px;
        transform: translateY(-100%);
    }

    .show {
        transform: translateY(0);
        transition: 0.4s ease-in-out;
    }

    .cart ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
    }

    .cart.show .closeCart {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 360px) {
    .cart {
        padding: 12px 24px;
    }

    .closeCart {
        bottom: 40px;
        right: 40px;
    }

    .cart_title {
        font-size: 1.8rem;
    }

    .cart ul {
        padding-top: 40px;
        height: 75%;
    }

    .cart_footer_text {
        align-items: start;
    }
}