.contact_cont {
    background-image: url("../../assets//images/contact_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 200px 120px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact_info {
    color: white;
    max-width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contact_info h1 {
    font-size: 3.5rem;
}

.contact_info p {
    margin-top: 40px;
    font-size: 1.2rem;
    max-width: 620px;
    line-height: 2.2rem;
}

.contact_form {
    max-width: 600px;
    width: 100%;
    padding: 40px 60px;
    background-color: white;
    border-radius: 20px;
}

.contact_form ul li {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
}

.contact_form ul li label {
    font-size: 1.2rem;
    position: relative;
}

.contact_form ul li label::before {
    position: absolute;
    content: "*";
    color: red;
    right: -10px;
}

.contact_form ul li input,
.contact_form ul li textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 6px;

}

.contact_form ul li input {
    height: 56px;
}

.contact_form ul li textarea {
    resize: none;
    height: 200px;
}

.contact_form .button_cont {
    align-items: center;
    width: 100%;
}

.contact_form button {
    border: 2px solid #140F0B;
    background-color: white;
    color: #140F0B;
    font-weight: 600;
    padding: 16px 40px;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}

.contact_form button:hover {
    background-color: #140F0B;
    color: white;
    transition: 0.4s ease-in-out;
}

.error {
    color: red;
}