
.hero_banner_cont {
    height: 900px;
    background-image: url("../../assets/images/hero_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
}

.hero_banner_cont div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 180px;
    align-items: start;
    width: 100%;
}

.hero_banner_cont div .hero_text_span {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #E68541;
}

.hero_banner_cont div h1 {
    font-size: 3.5rem;
    font-weight: 400;
    /* max-width: 800px; */
}

.hero_banner_cont div h1 .hero_title_span {
    font-weight: 700;
}


.hero_button {
    border: 2px solid #E68541;
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px 28px;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 80px;
}

.hero_button:hover {
    background-color: #E68541;
    color: #140F0B;
    transition: 0.6s ease;
}

.hero_button:focus {
    background-color: #e09b6a;
}


@media screen and (max-width: 1680px) {
    .hero_banner_cont {
        height: 840px;
    }

    .hero_banner_cont div {
        padding: 0 160px;
    }
}

@media screen and (max-width: 1440px) {
    .hero_banner_cont {
        height: 800px;
    }

    .hero_banner_cont div {
        padding: 0 120px;
    }
}

@media screen and (max-width: 1280px) {
    .hero_banner_cont {
        height: 700px;
    }

    .hero_banner_cont div .hero_text_span {
        font-size: 1.3rem;
    }

    .hero_banner_cont div h1 {
        font-size: 3rem;
    }

    .hero_button {
        margin-top: 40px;
        padding: 12px 24px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .hero_banner_cont {
        height: 600px;
    }

    .hero_banner_cont div .hero_text_span {
        font-size: 1.2rem;
    }

    .hero_banner_cont div h1 {
        font-size: 2.8rem;
    }

    .hero_banner_cont div {
        padding: 0 80px;
    }

    .hero_button {
        margin-top: 20px;
        padding: 12px 24px;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .hero_banner_cont div .hero_text_span {
        font-size: 1rem;
    }

    .hero_banner_cont div h1 {
        font-size: 2.5rem;
    }

    .hero_banner_cont div {
        padding: 0 40px;
    }

    .hero_button {
        margin-top: 20px;
        padding: 12px 24px;
        font-size: 1.1rem;
    }
}