.category {
    position: relative;
    height: 360px;
    width: 360px;
    margin-bottom: 50px;
    cursor: pointer;
}

.link {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.4s ease-in-out;
}

@media screen and (max-width: 1024px) {
    .category {
        width: 280px;
        height: 280px;
    }
}

@media screen and (max-width: 768px) {
    .category {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 360px) {
    .category {
        width: 360px;
        height: 360px;
        margin-bottom: 0;
    }
}