.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 180px;
    width: 100%;
    position: absolute;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 2.5rem;
}

.logo span {
    color: #E68541;
    font-weight: 700;
}

.nav_links_container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav_links_container a {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.navbar .contact_button {
    background-color: #E68541;
    padding: 18px 30px;
    color: #140F0B;
    font-weight: 700;
}

.navbar .contact_button:hover {
    background-color: #e09b6a;
    transition: 0.6s ease;
}

.navbar .contact_button:focus {
    background-color: #d96a1a;
}

.active_option {
    font-weight: 700;
}


@media screen and (max-width: 1680px) {
    .navbar {
        padding: 16px 160px;
    }
}

@media screen and (max-width: 1440px) {
    .navbar {
        padding: 16px 120px;
    }
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: 16px 80px;
    }

    .nav_links_container {
        display: none;
    }

}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 360px) {}