.hero_banner {
    background-image: url("../../assets/images/products_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 660px;
    color: white;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.wrapper h1 {
    font-size: 3.5rem;
    max-width: 760px;
    font-weight: 400;
}

.wrapper h1 span {
    color: #E68541;
    font-weight: 700;
}

.wrapper p {
    max-width: 600px;
    font-size: 1.5rem;
}

.products {
    text-align: center;
    position: relative;
    min-height: 900px;
}

.products h2 {
    color: #140F0B;
    font-size: 3.3rem;
    margin: 120px;
}

.loading_cont {
    height: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}

.loading_cont span {
    margin-top: 200px;
}


.filter_cont {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.filter_cont input {
    height: 48px;
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #a7a7a7;
}


.categories_cont {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: left;
}

.categories_cont h3 {
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
}

.categories_cont ul {
    margin-top: 56px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.categories_cont ul li {
    margin-bottom: 24px;
}

.categories_cont ul li a {
    font-size: 1.5rem;
    color: #1f1d1c;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 24px;
    border: 2px solid #E68541;
    color: #140F0B;
    font-weight: 600;

}

.categories_cont ul li a:hover {
    background-color: #E68541;
    color: white;
    transition: 0.4s ease-in-out;
}

.categories_cont ul li a.active_option {
    background-color: #E68541;
    color: white;
}


@media screen and (max-width: 1440px) {
    .wrapper {
        max-width: 1180px;
    }
}

@media screen and (max-width: 1024px) {

    .wrapper,
    .categories_cont {
        max-width: 920px;
    }
}

@media screen and (max-width: 768px) {
    .hero_banner {
        height: 500px;
    }

    .wrapper,
    .categories_cont {
        max-width: 640px;
    }

    .wrapper h1 {
        font-size: 3rem;
    }

    .wrapper p {
        font-size: 1.25rem;
    }

    .products h2 {
        font-size: 2.5rem;
        margin: 80px auto;
    }

}

@media screen and (max-width: 640px) {

    .wrapper,
    .categories_cont {
        max-width: 560px;
    }

}

@media screen and (max-width: 360px) {

    .wrapper,
    .categories_cont {
        max-width: 320px;
    }

    .wrapper h1 {
        font-size: 2rem;
    }

    .wrapper p {
        font-size: 1.1rem;
    }
}