.product_card {
    width: 360px;
    height: 360px;
    background-color: bisque;
    position: relative;
    cursor: pointer;
}

.product_card:hover {
    transition: 0.4s ease-in-out;
    transform: translateY(-8px);
    box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
    -webkit-box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
    -moz-box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
}

.product_card:hover img {
    filter: brightness(0.6);
    transition: 0.4s ease-in-out;
}

.product_info_slide {
    height: 120px;
    padding: 24px;
    transition: 0.4s ease-in-out;
    opacity: 0;
    background-color: white;
    transform: translateY(-120px);
}

.product_card:hover .product_info_slide {
    opacity: 1;
    transition: 0.6s ease-in-out;
}

.product_card:hover .product_info {
    transform: translateY(-120px);
    transition: 0.4s ease-in-out;
}

.ver_button {
    background-color: transparent;
    text-decoration: none;
    color: #140F0B;
    padding: 9px 24px;
    border: 2px solid #E68541;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 12px;
    margin-right: 24px;
    cursor: pointer;
}

.ver_button:hover {
    background-color: #E68541;
    color: #140F0B;
    transition: 0.6s ease;
}

.buy_button {
    background-color: #ffffff;
    border: 2px solid #140F0B;
    color: #140F0B;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 12px;
    cursor: pointer;
}

.buy_button:hover {
    background-color: #140F0B;
    color: #ffffff;
    transition: 0.6s ease;
}

.best_seller {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E68541;
    padding: 4px 8px;
    color: white;
    font-size: 1.2rem;
}

.product_info {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 24px;
}

.product_info h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.product_info p {
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {

    .product_card,
    .product_card img {
        width: 280px;
        height: 280px;
    }

    .product_info {
        padding: 12px 24px;
    }

    .product_info_slide {
        padding: 24px 12px;
    }

    .buy_button {
        padding: 6px 12px;
    }

    .ver_button {
        padding: 4px 24px;
    }
}

@media screen and (max-width: 768px) {

    .product_card,
    .product_card img {
        width: 400px;
        height: 400px;
    }

    .product_card {
        box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
        -webkit-box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
        -moz-box-shadow: -8px 8px 40px -10px rgba(20, 15, 11, 0.53);
    }

    .product_info_slide {
        transform: translateY(-120px);
        opacity: 1;
    }

    .product_card .product_info {
        transform: translateY(-120px);
    }

}